<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduLingo</title>
</head>
<body>
    <h1>Hello, <%= user.name %>!</h1>
    <% if (idTakenCourses.length === 0) { %>
        <h1> You haven't taken any courses yet! Enroll to one of them now! </h1>
    <% } else { %>
        <h2>Your courses:</h2>
        <table>
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% user.Courses.forEach(el => { %>
                    <tr>
                        <% if (el.Enrollment.StudentId === user.id) { %>
                            <td><%= el.name %></td>
                            <td><a href="/<%= user.id %>/<%= el.id %>/courseDetail">Detail</a></td>
                        <% } %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
    <% if (idTakenCourses.length !== 0) { %>
    <h2>Explore other courses:</h2>
    <% } %>
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% if (idTakenCourses.length !== 0) { %>
                <% courses.forEach(el1 => { %>
                    <tr>
                        <% if(!idTakenCourses.includes(el1.id)) { %>
                            <td><%= el1.name %></td>
                            <td><a href="/<%= user.id %>/<%= el1.id %>/courseDetail">Detail</a></td>
                        <% } %> 
                    </tr>
                <% }) %>
            <% } else { %>
                <% courses.map(el => { %>
                    <tr>
                        <td><%= el.name %></td>
                        <td><a href="/<%= user.id %>/<%= el.id %>/courseDetail">Detail</a></td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
    <a href="/logout">Log Out</a>
</body>
</html>